@import '../alabaster.css'; 
@import 'theme.css'; 

* {
    color: white;
}

a:visited {
    color:red
}

.commit {
    display: none;
}

.wy-nav-content-wrap, .wy-nav-content {
    background-color: rgb(15, 14, 14) !important;
}