{% extends "panel/panel_base.html" %}
{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-6">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Today Website Visit</p>
                    <h6 class="mb-0">NOT WORKING (SOON)</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-6">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Admins Count</p>
                    <h6 class="mb-0">NOT WORKING (SOON)</h6>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}